.container {
	width: 1280px;
	margin: 0 auto;
	font-family: "Arial";
	box-shadow: 0 0 6px rgba(0,0,0,0.5);
}

.main-header {
	width: 100%;
	padding: 50px;
	box-sizing: border-box;
	background: url(../img/bg-inf-header-add.png), url(../img/bg-inf-header.jpg);
	background-position: bottom left -5px, 0;
	background-repeat: repeat-x, repeat;
	color: #ffffff;
}

.main-header::after {
	content: '';
	display: block;
	width: 100%;
	clear: both;
}

.main-header-wrapper {
	float: left;
}

.main-header-title {
	margin: 0px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	font-size: 60px;
	font-weight: 400;
}

.main-header-list {
	margin: 40px 0 0 0;
	padding: 0 0 0 36px;
	list-style-type: none;
}

.main-header-list-item {
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	font-size: 20px;
	font-weight: 400;
	line-height: 36px;
	position: relative;
}

.main-header-list-item::before {
	content: "";
	display: block;
	width: 25px;
	height: 19px;
	position: absolute;
	top: 8px;
	left: -35px;
	background-image: url(../img/check-icon.png);
}

.main-header-photo {
	width: 469px;
	height: 214px;
	float: right;
	display: block;
}

.about {
	width: 100%;
	padding: 50px;
	box-sizing: border-box;
}

.about::after {
	content: '';
	display: block;
	width: 100%;
	clear: both;
}

.about-left-wrapper {
	float: left;
	width: 650px;
}

.about-title {
	margin: 0;
	color: #445161;
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
}

.about-left-wrapper p {
	margin:20px 0 0 0;
	color: #333333;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.about-video {
	float: right;
	width: 430px;
	height: 245px;
	background-color: #445161;
}

.dignity {
	width: 100%;
	padding: 50px;
	box-sizing: border-box;
	background: url(../img/bg-inf-section.jpg) #f5f5f5;
}

.dignity::after {
	content: '';
	display: block;
	width: 100%;
	clear: both;
}

.dignity-title {
	margin: 0;
	text-align: center;
	color: #445161;
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;	
}

.dignity-list {
	width: 100%;
	margin: 0;
	list-style-type: none;
}

.dignity-list-item {
	width: 530px;
	padding: 29px 64px 5px 0;
	color: #333333;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	position: relative;
	float: left;
}

.dignity-list-item:nth-child(even) {
	padding: 29px 0px 5px 0;
}

.dignity-list-item::before {
	content: "";
	display: block;
	width: 32px;
	height: 32px;
	position: absolute;
	top: 34px;
	left: -40px;
	background-image: url(../img/icon-plus.png);
}

.screenshots {
	width: 100%;
	padding: 50px;
	box-sizing: border-box;
}

.screenshots::after {
	content: '';
	display: block;
	width: 100%;
	clear: both;
}

.screenshots-title {
	margin: 0;
	color: #445161;
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	text-align: center;
}

.screenshot-figure {
	margin: 0;
	width: 574px;
	padding: 30px 16px 0 0;
	float: left; 
}

.screenshot-figure:nth-child(odd) {
	padding-right: 0;
}

.screenshot-image {
	float: left;
	margin: 0 15px 0 0;
	box-shadow: 1px 1px 4px #445161;
}

.screenshot-header {
	margin: 0;
	color: #445161;
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
}

.screenshot-text {
	margin: 0;
	color: #333333;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.reviews {
	width: 100%;
	padding: 50px 50px 26px 50px;
	box-sizing: border-box;
	background: url(../img/bg-inf-header-add.png), url(../img/bg-inf-section.jpg);
	background-position: bottom left -5px, 0;
	background-repeat: repeat-x, repeat;
}

.reviews::after {
	content: '';
	display: block;
	width: 100%;
	clear: both;
}

.reviews-title {
	color: #445161;
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	text-align: center;
}

.review-item {
	display: inline-block;
	float: left;
	margin: 0 32px 24px 0;
}

.review-item:nth-child(odd) {
	margin-right: 0;
}

.review-figure {
	margin: 0;
	float: left;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background-color: #445161;
	box-shadow: 2px 2px 6px #445161;
}

.review-fig1 {
	background: url(../img/image-review-photo-1.jpg);
}

.review-fig2 {
	background: url(../img/image-review-photo-2.jpg);
}

.review-fig3 {
	background: url(../img/image-review-photo-3.jpg);
}

.review-fig4 {
	background: url(../img/image-review-photo-4.jpg);
}

.review-quote {
	background-color: #ebebeb;
	width: 436px;
	border-radius: 10px;
	float: right;
	padding: 16px 20px 16px 11px;
	margin-left: 24px;
	position: relative;
}

.review-quote::before {
	content: "";
	border: 16px solid transparent;
	border-right: 16px solid #ebebeb;
	position: absolute;
	left: -30px;
	top: 25px;
}

.review-text {
	margin: 0 0 12px 0;
	display: inline-block;
	color: #333333;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	font-style: italic;
}

.review-author {
	color: #989898;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
}

.buy {
	width: 100%;
	padding: 50px;
	box-sizing: border-box;
	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
}

.buy::after {
	content: '';
	display: block;
	width: 100%;
	clear: both;
}

.buy-title {
	margin: 0;
	width: 100%;
	color: #445161;
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	text-align: center;
}

.buy-plan {
	width: 300px;
	border-radius: 10px;
	align-self: flex-end;
	margin-right: 45px;
	background: url(../img/bg-inf-header.jpg) #445162;
	color: #fff;
}

.buy-plan:nth-last-child(1) {
	margin: 0;
}

.buy-plan-title {
	margin: 0;
	padding: 16px 0;
	text-align: center;
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
}

.buy-plan-price {
	display: block;
	background-color: #fff;
	border: 2px solid #445162;
	color: #445162;
	font-size: 40px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
	padding: 20px 0;
}

.buy-plan-list {
	margin: 0;
	padding: 19px 20px 0px 20px;
	list-style-position: inside;
}

.buy-plan-list-item {
	margin: 0;
	line-height: 1.7em;
	font-size: 14px;
	font-weight: 400;
}

.buy-button {
	margin: 20px;
	display: block;
	border: 2px solid #fff;
	border-radius: 5px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	padding-top: 11px;
	width: 256px;
	height: 25px;
	background-color: #fff;
	color: #445161;
	font-size: 18px;
	font-weight: 600;
	line-height: 18px;
}

.buy-button:hover::after {
	content: " <";
}

.buy-button:hover::before {
	content: "> ";
}

.buy-button:active {
	background-color: #445161;
	color: #fff;
}

.footer {
	width: 100%;
}

.contacts {
	width: 100%;
	padding: 50px;
	box-sizing: border-box;
	background: url(../img/bg-inf-header.jpg) #445162;
}

.contacts::after {
	content: '';
	display: block;
	width: 100%;
	clear: both;
}

.contacts-title {
	margin: 0;
	color: #ffffff;
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	text-align: center;
	padding-bottom: 30px;
}

.contacts-form {
	float: left;
	width: 480px;
	display: block;
	margin-left: 200px;
}

.contacts-form input,
.contacts-form textarea {
	padding: 8px 10px;
	border: 0;
	border-radius: 8px;
	color: #445162;
	font-size: 16px;
	font-weight: 400;
	outline: none;
	display: block;
}

.contacts-form input {
	width: 100%;
	height: 40px;
	margin-bottom: 22px;
}

.contacts-form textarea {
	font-family: sans-serif;
	resize: none;
	display: block;
	width: 100%;
	height: 170px;
	margin-bottom: 22px;
	border-radius: 8px;
	overflow: auto;
}

.contacts-form input[type="submit"] {
	width: 140px;
	height: 40px;
	background-color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0 0 0 180px;
	border: 2px solid #fff;
}

.contacts-form input[type="submit"]:hover {
	box-shadow: 3px 3px 8px #000;
}

.contacts-form input[type="submit"]:active {
	background-color: #445162;
	box-shadow: none;
	color: #fff;
}

.contacts-set {
	display: inline-block;
}

.contacts-set-list {
	margin: 0;
	list-style-type: none;
	display: block;
	margin-left: 60px;
}

.contacts-set-list-item {
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding: 15px 0;
	position: relative;
}

.contacts-set-list-item:before {
	content: "";
	position: absolute;
	left: -30px;
}

.contacts-set-list-item:nth-child(1)::before {
	width: 24px;
	height: 26px;
	background-image: url(../img/skype-icon.png);
}

.contacts-set-list-item:nth-child(2)::before {
	width: 26px;
	height: 26px;
	background-image: url(../img/icq-icon.png);
}

.contacts-set-list-item:nth-child(3)::before {
	width: 22px;
	height: 22px;
	background-image: url(../img/email-icon.png);
}

.contacts-set-list-item:nth-child(4)::before {
	width: 24px;
	height: 23px;
	background-image: url(../img/phone-icon.png);
}

.contacts-set-social-list {
	list-style-type: none;
	margin-left: 20px;
	vertical-align: bottom;
}

.contacts-set-social-list-item {
	float: left;
	margin-left: 8px;
}

.social-twitter,
.social-facebook,
.social-linkedin,
.social-google,
.social-youtube {
	display: block;
	width: 36px;
	height: 27px;
	border-radius: 50%;
	background-color: #fff;
	color: #445162;
	text-align: center;
	padding-top: 9px;
	border: 3px solid #445162;
}

.social-twitter:hover,
.social-facebook:hover,
.social-linkedin:hover,
.social-google:hover,
.social-youtube:hover {
	border: 3px solid #fff;
}

.social-twitter:active,
.social-facebook:active,
.social-linkedin:active,
.social-google:active,
.social-youtube:active {
	height: 25px;
	padding-top: 11px;
}

.footer-text {
	text-align: center;
	color: #445162;
	margin: 0;
	padding: 6px;
}