.container {
	width: 1280px;
	margin: 0 auto;
	border: 1 px solid black;
	font-family: "Arial";
}

.main-header {
	width: 100%;
	padding: 50px;
	box-sizing: border-box;
	background-color: #445162;
	color: #ffffff;
}

.main-header::after {
	content: '';
	display: block;
	width: 100%;
	clear: both;
}

.main-header-wrapper {
	float: left;
}

.main-header-title {
	margin: 0px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	font-size: 60px;
	font-weight: 400;
}

.main-header-list {
	margin: 40px 0 0 0;
	padding: 0 0 0 36px;
	list-style-type: none;
}

.main-header-list-item {
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	font-size: 20px;
	font-weight: 400;
	line-height: 36px;
	position: relative;
}

.main-header-list-item::before {
	content: "";
	display: block;
	width: 25px;
	height: 19px;
	position: absolute;
	top: 8px;
	left: -35px;
	background-image: url(../img/check-icon.png);
}

.main-header-photo {
	width: 469px;
	height: 214px;
	float: right;
	display: block;
}

.content {
	
}

.about {
	width: 100%;
	padding: 50px;
	box-sizing: border-box;
}

.about::after {
	content: '';
	display: block;
	width: 100%;
	clear: both;
}

.about-left-wrapper {
	float: left;
	width: 650px;
}

.about-title {
	color: #445161;
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
}

.about-left-wrapper p {
	margin:0 0 20px 0;
	color: #333333;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.about-video {
	float: right;
	width: 430px;
	height: 245px;
	background-color: #445162;
}


