@font-face {
	font-family: 'roboto-regular';
	src: local('Roboto Regular'),
		 url('../fonts/roboto/roboto-regular.eot');
	src: url('../fonts/roboto/roboto-regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/roboto/roboto-regular.woff2') format('woff2'),
		 url('../fonts/roboto/roboto-regular.woff') format('woff'),
		 url('../fonts/roboto/roboto-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'raleway-bold';
	src: local('Raleway Bold'), 
		 url('../fonts/raleway/raleway-bold.eot');
	src: url('../fonts/raleway/raleway-bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/raleway/raleway-bold.woff2') format('woff2'),
		 url('../fonts/raleway/raleway-bold.woff') format('woff'),
		 url('../fonts/raleway/raleway-bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'raleway-extrabold';
	src: local('Raleway ExtraBold'),
		 url('../fonts/raleway/raleway-extrabold.eot');
	src: url('../fonts/raleway/raleway-extrabold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/raleway/raleway-extrabold.woff2') format('woff2'),
		 url('../fonts/raleway/raleway-extrabold.woff') format('woff'),
		 url('../fonts/raleway/raleway-extrabold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'raleway-medium';
	src: local('Raleway Medium'),
		 url('../fonts/raleway/raleway-medium.eot');
	src: url('../fonts/raleway/raleway-medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/raleway/raleway-medium.woff2') format('woff2'),
		 url('../fonts/raleway/raleway-medium.woff') format('woff'),
		 url('../fonts/raleway/raleway-medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'raleway-regular';
	src: local('Raleway Regular'),
		 url('../fonts/raleway/raleway-regular.eot');
	src: url('../fonts/raleway/raleway-regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/raleway/raleway-regular.woff2') format('woff2'),
		 url('../fonts/raleway/raleway-regular.woff') format('woff'),
		 url('../fonts/raleway/raleway-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'raleway-semibold';
	src: local('Raleway SemiBold'),
		 url('../fonts/raleway/raleway-semibold.eot');
	src: url('../fonts/raleway/raleway-semibold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/raleway/raleway-semibold.woff2') format('woff2'),
		 url('../fonts/raleway/raleway-semibold.woff') format('woff'),
		 url('../fonts/raleway/raleway-semibold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'montserrat-extralight';
	src: local('Montserrat ExtraLight'),
		 url('../fonts/montserrat/montserrat-extralight.eot');
	src: url('../fonts/montserrat/montserrat-extralight.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/montserrat/montserrat-extralight.woff2') format('woff2'),
		 url('../fonts/montserrat/montserrat-extralight.woff') format('woff'),
		 url('../fonts/montserrat/montserrat-extralight.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'montserrat-light';
	src: local('Montserrat Light'), 
		 url('../fonts/montserrat/montserrat-light.eot');
	src: url('../fonts/montserrat/montserrat-light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/montserrat/montserrat-light.woff2') format('woff2'),
		 url('../fonts/montserrat/montserrat-light.woff') format('woff'),
		 url('../fonts/montserrat/montserrat-light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'montserrat-regular';
	src: local('Montserrat Regular'),
		 url('../fonts/montserrat/montserrat-regular.eot');
	src: url('../fonts/montserrat/montserrat-regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/montserrat/montserrat-regular.woff2') format('woff2'),
		 url('../fonts/montserrat/montserrat-regular.woff') format('woff'),
		 url('../fonts/montserrat/montserrat-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.container {
	width: 1920px;
	margin: 0 auto;	
	box-shadow: 0 0 6px rgba(0,0,0,0.5);
	font-family: 'montserrat-light', sans-serif;
}

.main-header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 1024px;
	padding: 40px 150px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url('../img/header-bg.jpg');
}

.header-up {
	display: flex;
	justify-content: space-between;
	padding: 0 225px;
	align-content: center;
}

.logo-main-link {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	width: 181px;
}

.logo-image {
	fill: #fff;
}

.logo-txt {
	color: #fff;
	font-family: "raleway-regular", sans-serif;
	font-size: 34px;
	letter-spacing: -1.36px;
}

.logo-main-link:hover {
	filter: drop-shadow(0px 0px 2px #000);	
}

.logo-main-link:hover .logo-image {
	fill: #c7b299;
}

.logo-main-link:hover .logo-txt {
	color: #c7b299;
}

.logo-main-link:active .logo-image {
	fill: #fff;
}

.logo-main-link:active .logo-txt {
	color: #fff;
}

.block-menu-buttons {
	display: flex;
	align-items: center;
}

.block-main-menu {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	min-width: 637px;
	justify-content: space-between
}

.main-menu-link {
	text-decoration: none;
	color: #fff;
	font-family: 'montserrat-light';
	font-size: 14px;
}

.main-menu-link:hover {
	color: #c7b299;	
}

.main-menu-link:active {
	color: #fff;	
}

.button-basket {
	padding: 0;
	margin:0 0 0 63px;
	width: 18px;
	height: 24px;
	border: none;
	background: none;
	cursor: pointer;
	outline: none;
}

.button-basket-icon {
	fill: #fff;
}

.button-basket:hover .button-basket-icon {
	fill: #c7b299;
}

.button-basket:active .button-basket-icon {
	fill: #fff;
}

.button-search {
	padding: 0;
	margin: 0 0 0 28px;
	width: 24px;
	height: 24px;
	border: none;
	background: none;
	cursor: pointer;
	outline: none;
}

.button-search-icon {
	
}

.button-search:hover .button-search-icon {
	
}

.button-search:active .button-search-icon {
	
}

.block-carousel {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.carousel-button-prev {
	margin: 380px 0 0 0;
}

.block-carousel-headers-description {
	margin: 285px 0 0 0;
	text-align: center;
	color: #fff;
}

.carousel-subheader {
	margin: 0 0 14px 0;
	font-family: 'raleway-medium', sans-serif;
	font-size: 36px;
}

.carousel-header {
	margin: 0 0 19px 0;
	font-family: 'raleway-extrabold', sans-serif;
	font-size: 52px;
}

.carousel-text {
	margin: 0 auto;
	width: 570px;
	font-family: 'montserrat-light', sans-serif;
	font-size: 16px;
	line-height: 24px;
}

.carousel-button-get-started {
	display: block;
	padding: 21px 5px;
	margin: 50px auto 0;
	width: 170px;
	box-shadow: inset 0 -3px 0 #736357;
	border-radius: 3px;
	background-color: #998675;
	text-decoration: none;
	color: #ffffff;
}

.carousel-button-get-started:hover {
	background-color: #877;
}

.carousel-button-get-started:active {
	background-color: #dcc;
	box-shadow: inset 0 -3px 0 #baa;
	color: #998675;
}

.carousel-button-get-started-text {
	font-family: "raleway-extrabold", sans-serif;
	font-size: 14px;
	line-height: 23px;
	text-transform: uppercase;
}

.carousel-button-next {
	margin: 380px 0 0 0;
}

.carousel-button-prev-img,
.carousel-button-next-img {
	fill: #fff;
	opacity: .5;
}

.carousel-button-prev:hover .carousel-button-prev-img {
	opacity: 1;
}

.carousel-button-prev:active .carousel-button-prev-img {
	opacity: .7;
}

.carousel-button-next:hover .carousel-button-next-img {
	opacity: 1;
}

.carousel-button-next:active .carousel-button-next-img {
	opacity: .7;
}

.pagination {
	margin: 330px auto 0;
	width: 150px;
	display: flex;
	justify-content: center;
}

.pagination-link {
	display: block;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	margin: 0 5px;
	background-color: #fff;
	opacity: 0.5;
}

.pagination-link:hover {
	background-color: transparent;
	box-shadow: 0 0 0 2px #fff;
}

.pagination-link:active {
	background-color: #baa;
	box-shadow: 0 0 0 2px #fff;
	opacity: 1;
}

.content {
	width: 100%;
}

.activities {
	text-align: center;
	margin: 0;
	padding: 80px 360px;
	display: flex;
	justify-content: space-between;
}

.activity-block {
	width: 267px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.activity {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
}

.activity-icon {
	display: block;
	margin: 0 0 29px 0;
	min-height: 49px;
	fill: #555;
}

.activity-header {
	margin: 0 0 19px 0;
	color: #555555;
	font-family: "raleway-semibold";
	font-size: 22px;
}

.activity-text {
	margin: 0 0 30px 0;
	color: #8c8c8c;
	font-size: 14px;
	line-height: 24px;
}

.activity-underline {
	width: 70px;
	height: 3px;
	background-color: #f1eee9;
}

.activity-block:hover {
	cursor: pointer;
}

.activity-block:hover .activity-icon {
	fill: #c7b299;
}

.activity-block:hover .activity-header {
	color: #c7b299;
}

.activity-block:hover .activity-underline {
	background-color: #c7b299;
}

.realisation {
	background-color: #fbfaf8;
	display: flex;
	flex-direction: column;
	padding: 83px 345px 0;
	text-align: center;
	align-items: center;
}

.realisation-header {
	margin: 0 0 24px 0;
	color: #555555;
	font-family: "raleway-semibold";
	font-size: 30px;
}

.realisation-text {
	margin: 0 0 40px 0;
	width: 758px;
	color: #8c8c8c;
	font-size: 16px;
	line-height: 28px;
}

.block-realisation-screenshots {
	width: 1230px;
	height: 482px;
	margin: 0;
	position: relative;
}

.realisation-screenshot1 {
	position: absolute;
	left: 230px;
	z-index: 3;
}

.realisation-screenshot2 {
	position: absolute;
	top: 82px;
	left: 0px;
	z-index: 2;
}

.realisation-screenshot3 {
	position: absolute;
	top: 82px;
	left: 460px;
	z-index: 1;
}

.realisation-screenshot1:hover,
.realisation-screenshot2:hover,
.realisation-screenshot3:hover {
	z-index:3;
}

.purchase {
	padding: 48px 375px;
	background-image: -webkit-linear-gradient(left, #211b19 0%, #4e3427 100%);
	background-image: -o-linear-gradient(left, #211b19 0%, #4e3427 100%);
	background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}

.block-purchase-center {
	display: flex;
	justify-content: space-between
}

.purchase-header {
	margin: 0;
	color: #c7b299;
	font-family: "raleway-regular";
	font-size: 28px;
}

.purchase-header-recolour {
	color: #ffffff;
}

.purchase-text {
	margin: 8px 0 0 0;
	color: #615855;
	font-size: 18px;
}

.purchase-button {
	display: block;
	padding: 20px 5px;
	width: 170px;
	box-shadow: inset 0 -3px 0 #736357;
	border-radius: 3px;
	background-color: #998675;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
}

.purchase-button:hover {
	background-color: #877;
}

.purchase-button:active {
	background-color: #dcc;
	box-shadow: inset 0 -3px 0 #baa;
	color: #998675;
}

.purchase-button-text {
	font-family: "raleway-extrabold", sans-serif;
	font-size: 14px;
	line-height: 23px;
	text-transform: uppercase;
}

.latest {
	padding: 80px 375px;	
}

.presentation {}

.excellent-for {
	padding: 80px 390px 0 423px;
}

.achievements {
	padding: 70px 500px 60px;
	background-image: -webkit-linear-gradient(left, #211b19 0%, #4e3427 100%);
	background-image: -o-linear-gradient(left, #211b19 0%, #4e3427 100%);
	background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}

.recent {
	padding: 80px 375px;
}

.customers {
	padding: 140px 405px;
	background: url(../img/footer-bg.jpg);
}

.main-footer {}

.about-short {
	padding: 80px 375px;
	background-color: #191919;
	/* background-color: #595f6f; */
}

.copyright {
	padding: 45px 375px 52px;
	background-color: #111111;
}
