.container {
	width: 1920px;
	margin: 0 auto;	
	box-shadow: 0 0 6px rgba(0,0,0,0.5);
	font-family: 'montserrat-light';
}

.main-header {
	width: 100%;
	height: 1024px;
	padding: 40px 150px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url('../img/header-bg.jpg');
}

.header-up {
	display: flex;
	justify-content: space-between;
	padding: 0 225px;
	align-content: center;
}

.logo-main-link {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	width: 181px;
}

.logo-image {
	fill: #fff;
}

.logo-txt {
	color: #fff;
	font-family: "raleway-regular", sans-serif;
	font-size: 34px;
	letter-spacing: -1.36px;
}

.logo-main-link:hover .logo-image {
	fill: #dcc;
}

.logo-main-link:hover .logo-txt {
	color: #dcc;
}

.logo-main-link:active .logo-image {
	fill: #fff;
}

.logo-main-link:active .logo-txt {
	color: #fff;
}

.block-menu-buttons {
	display: flex;
	align-items: center;
}

.block-main-menu {
	padding: 0;
	list-style: none;
	display: flex;
	min-width: 637px;
	justify-content: space-between
}

.main-menu-link {
	text-decoration: none;
	color: #fff;
	font-family: 'montserrat-light';
	font-size: 14px;
}

.main-menu-link:hover {
	color: #dcc;	
}

.main-menu-link:active {
	color: #fff;	
}

.button-basket {
	padding: 0;
	margin:0 0 0 63px;
	width: 18px;
	height: 24px;
	border: none;
	background: none;
	cursor: pointer;
}

.button-basket-icon {
	fill: #fff;
}

.button-basket:hover .button-basket-icon {
	fill: #dcc;
}

.button-basket:active .button-basket-icon {
	fill: #fff;
}

.button-search {
	padding: 0;
	margin: 0 0 0 28px;
	width: 24px;
	height: 24px;
	border: none;
	background: none;
	cursor: pointer;
}

.button-search-icon {
	fill: #fff;
}

.button-search:hover .button-search-icon {
	fill: #dcc;
}

.button-search:active .button-search-icon {
	fill: #fff;
}

.carousel {}

.block-carousel {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.carousel-button-prev {
	margin: 380px 0 0 0;
}

.block-carousel-headers-description {}

.carousel-subheader {}

.carousel-header {}

.carousel-description {}

.carousel-button-get-started {}

.carousel-button-next {
	margin: 380px 0 0 0;
}

.carousel-button-prev-img,
.carousel-button-next-img {
	fill: #fff;
	opacity: .5;
}

.carousel-button-prev:hover .carousel-button-prev-img {
	opacity: 1;
}

.carousel-button-prev:active .carousel-button-prev-img {
	opacity: .7;
}

.carousel-button-next:hover .carousel-button-next-img {
	opacity: 1;
}

.carousel-button-next:active .carousel-button-next-img {
	opacity: .7;
}

.pagination {}

.pagination-link {}

.content {}

.activities {}

.activity {}

.activity-icon {}

.activity-header {}

.activity-text {}

.realisation {}

.realisation-header {}

.realisation-text {}

.block-realisation-screenshots {}

.purchase {}

.block-purchase-center {}

.block-purchase-text {}

.purchase-header {}

.purchase-header-recolour {}

.purchase-text {}

.purchase-button {}

.purchase-button-text {}

.latest {}

.presentation {}

.excellent-for {}

.achievements {}

.recent {}

.customers {}

.main-footer {}

.about-short {}

.copyright {}
